
    <div *ngFor="let productos of productList">
            <div *ngIf="productos.category==='Breads'">
              <div>{{productos.name}}</div>
              <div>{{productos.category }}</div>
              <div>
                  <img src="{{productos.image}}" width="220" height="120">
              </div>
              <div>{{productos.price}}</div>
              <div>{{productos.ingredients}}</div>
              <button (click)="addToCart(productos)" >  Añadir al carrito  </button>
              <a [routerLink]='["../../cart"]' > Ver carrito </a>  
            </div>
        </div>