*{
    list-style: none;
    text-decoration: none!important;
}

.navbar-default{
    height: 100px;
    position:  fixed;
    width: 100%;
    background-color: #d8ce9c;
    border-color: #582b2b;
}

.nav{
    margin-top: 25px;
    

}

nav img{
    width: 300px;
    height: 130px;
    margin-left: 25px;
}

