<br>
<br>
<br>


<select [(ngModel)]="xxx">
        <option value="empa">Nuestras Empanadas</option>
        <option value="art">Nuestras tartas</option>
        <option value="arra">Nuestros Panes</option>
    </select>
    
    <div *ngFor="let productos of productList | filter:'name':xxx">
        <div>{{productos.name}}</div>
        <div>{{productos.category }}</div>
        <div>
            <img src="{{productos.image}}" alt="">
        </div>
        <div>{{productos.price}}</div>
        <div>{{productos.ingredients}}</div>
    </div>