<!-- <p>
  home works!
</p>
<h1>  </h1>
<!-- <div *ngIf="!session.getUser()"> -->
  <br> <br> <br>
  <br> <br> 
 
<!-- 
  <form>
    <h2> Login or Signup </h2>
    <label> Username </label>
    <input type="text" [(ngModel)]="username" name="username"/>
    <br><br>
    <label> Password </label>
    <input type="password" [(ngModel)]="password" name="password"/>
    <br>
    <div>
      <br>
      <button (click)="login()"> login </button>
      <button (click)="signup()"> signup </button>
    </div>
  </form>
  <!-- <p *ngIf="error" class="error"> {{ error }} </p>
</div>

<div *ngIf="session.getUser()">
  <pre> {{ session.getUser() | json }} </pre> -->
  <!-- <button (click)="logout()"> Logout </button> -->
<!-- </div> -->
<!--  
 <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
---- Include the above in your HEAD tag -------- -->



<div *ngIf="!session.user" class="message">
   
  </div>

  <div *ngIf="session.user" class="message">
      <h1>Welcome </h1>
        <p>{{ session.user.username }}</p>
     
  </div>

  

<div class="right">
  <div class="btns">
    <a *ngIf="session.user" routerLink='/customers'>Go to DashBoard</a>
   
    <!-- <a *ngIf="!session.user" [routerLink]="['signup']">Signup</a>
   -->
  </div>
</div>
