
<div *ngFor="let productos of productList">
    <div *ngIf="productos.category==='cakes'">
        <div>{{productos.name}}</div>
        <div>
            <img src="{{productos.image}}"width="220" height="120">
        </div>
        <div>{{productos.category }}</div>
     
        <div>{{productos.price}}</div>
        <div>{{productos.ingredients}}</div>
        <button (click)="addToCart(productos)"> Enviar al carro </button>
        <a [routerLink]='["../../cart"]' > Enviar al carro </a>  
        <!-- button click = addToCart(proudctos._id) -->
    </div>
</div>

